<h1>Fattoria</h1>

<!-- ! per collegare file "animali.component.html" con file PRINCIPALE "app.component.html"  basta scrivere DENTRO il file "app.component.html" il seguente tag html cioe: <app-animali></app-animali>-->
<!-- ! "app-animali" lo vedo nel file "animali.component.ts"-->
<!-- ! Il tag html "app-animali" lo posso mettere dove voglio .Esso è proprio come un tag html "div" -->

<app-animali></app-animali>
<app-animali></app-animali>
<app-animali></app-animali>
<app-animali></app-animali>